.btn_container {
    display: flex;
    flex-direction: row-reverse;
}

.float {
    background: url('disabled.png') no-repeat center;
    position: fixed;
    cursor: pointer;
    border: none;
    width: 66px;
    height: 66px;
    top: 20px;
}

.big_cursor {
    cursor: url('cursor.png'), default;
}

.big_cursor_hand {
    cursor: url('hand.png'), default;
}
