.collapsible {
    color: white;
    font-weight: bold;
    padding: 10px 0;
    background-color: #1a1a1a;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 18px;
    outline: none;
    border: none;
}

.title {
    color: white;
    font-weight: bold;
    padding: 10px 0;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.active, .collapsible:hover {
    background-color: gray;
}

.content {
    visibility: hidden;
}

.sidebar-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid grey;
}

.sidebar-container a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-container a:hover {
    color: #f1f1f1;
}

.sidebar-container .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidebar-container {padding-top: 15px;}
    .sidebar-container a {font-size: 18px;}
}


.btn_container {
    display: flex;
    flex-direction: row-reverse;
}

.float {
    background: url('disabled.png') no-repeat center;
    position: fixed;
    cursor: pointer;
    border: none;
    width: 66px;
    height: 66px;
    top: 20px;
    outline: none;
}


.white_contrast {
    background-color: black !important;
    color: white !important;
}

.black_contrast{
    background-color: white !important;
    color: black !important;
}


.buttons_wrapper {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    outline: none;
}

.button_container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.icon {
    height: 66px;
    width: 66px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.increase_font {
    background: url('increase.png') no-repeat center;
    border: none;
}

.decrease_font {
    background: url('decrease.png') no-repeat center;
    border: none;
}

.toggle_cursor {
    background: url('cursor.png') no-repeat center;
    border: none;
}

.contrast {
    background: url('contrast.png') no-repeat center;
    border: none;
}

.button_text {
    width: 90%;
    color: black;
}

.big_cursor {
    cursor: url("cursor.png"), default;
}
